---
// import fetchApi from "../../lib/strappi";
// import type Store from "../../interfaces/store";
import Layout from "../../layouts/Layout.astro";
import { getStores } from "../../lib/get-stores";
import { ViewTransitions } from "astro:transitions";

export async function getStaticPaths() {
  const store = await getStores();

  return store.map((store) => ({
    params: { slug: store.slug },
    props: store,
  }));
}
// type Props = Store;

export const prerender = true;
const store = Astro.props;
const { storeName, storeDescription, image, storeMap } = store;
---

<Layout title={storeName} description={storeDescription}>
  <ViewTransitions />
  <main class="container p-10 bg-white rounded-lg drop-shadow-md my-16 mx-auto">
    <div class="flex">
      <a
        href="/directory"
        class="flex w-fit px-4 py-2 items-center justify-start gap-2 bg-old-rose-400 text-white rounded-lg"
      >
        <img src="/icons/arrow.svg" alt="logo" class="w-5 h-5 fill-white" />
        <span class="text-sm font-bold">Go Back</span>
      </a>
    </div>
    <div class="flex mt-8 items-center justify-center">
      <div class="flex items-center justify-center gap-14">
        <div>
          <img
            src={image}
            alt="Store Image"
            class="w-64 h-64 rounded-lg object-cover"
            transition:name="product-image"
          />
        </div>
        <div class="flex flex-col gap-7 items-start justify-center">
          <h1 class="text-3xl font-bold uppercase">{storeName}</h1>
          <p class="text-lg font-medium text-gray-500">
            {storeDescription}
          </p>
          <div class="flex flex-col gap-2 items-center">
            <a
              href="#"
              target="_blank"
              class="flex items-center gap-2 cursor-pointer hover:text-old-rose-600"
            >
              <img src="/social/facebook.svg" alt="facebook" class="w-5 h-5" />
              <p>Facebook</p>
            </a>
            <a
              href="#"
              target="_blank"
              class="flex items-center gap-2 cursor-pointer hover:text-old-rose-600"
            >
              <img src="/social/instagram.svg" alt="facebook" class="w-5 h-5" />
              <p>Instagram</p>
            </a>
            <!-- <a
              href={store.storeWebsite}
              target="_blank"
              class="flex items-start gap-2 cursor-pointer hover:text-old-rose-600"
            >
              <img src="/social/X.svg" alt="facebook" class="w-5 h-5" />
              <p>X</p>
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center mt-10 w-4/5 h-full mx-auto">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3565.040287252232!2d-80.05603452377166!3d26.67919397008558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d8d7aa629ecb25%3A0x185c58c682085f0c!2sAntique%20Row%2C%20West%20Palm%20Beach%2C%20FL%2033405%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sgt!4v1731017011616!5m2!1ses-419!2sgt"
        width="700"
        height="350"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-lg w-full h-[300px]"></iframe>
    </div>
  </main>
</Layout>

<!-- https://maps.app.goo.gl/rA5S6kRcagZdajzu8
https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3565.0239653455474!2d-80.053331!3d26.679716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDQwJzQ3LjAiTiA4MMKwMDMnMTIuMCJX!5e0!3m2!1ses-419!2sgt!4v1731015274850!5m2!1ses-419!2sgt -->
